* { 
	box-sizing: border-box;
}

body{
	font-family: Helvetica Neue, Helvetica, sans-serif;
	margin: 0;
	color: #333333;
	background-color: lightgray;
}

header {
	background-color: black;
	color: white;
}

a {
    color: #3E7FBB;
    text-decoration: none;
}

    
li {
    display: inline;
    padding: 10px;
}

.fa-envelope, .fa-ticket-alt, .fa-caret-right {
	color: #DB4B38;
}

.main {
	width: 95%;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
}

.first-navbar {
	padding: 10px;
}

.first-navbar a {
	color: white;
}

.second-navbar {
	padding: 10px;
	margin-left: 20px;
}

.second-navbar a {
	color: #3E7FBB;
	background-color: #E8DCA4;
	padding: 10px;
}

a.current-page {
	color: black;
	background-color: #84DDFF;
	padding: 10px;
}

.logo {
	width: 185px;	
}

.label {
	width: 650px;		
}

.first-grid, .second-grid, .third-grid, .forth-grid, .last-grid, .event-grid, .nested-grid, .inside-grid {
	display: flex;
	flex-wrap: wrap;
}

.first-normal, .second-normal, .third-normal, .forth-normal  {
	width: calc(100% / 4);
	align-self: center;
}

.first-triple, .second-triple, .third-triple, .forth-triple {
	width: calc(calc(100% / 4) * 3);
	align-self: center;
}

.event-normal {
	width: calc(100% / 3);
	align-self: center;
}

.event-double {
	width: calc(calc(100% / 3) * 2);
	align-self: center;	
}

.nested-item {
	width: calc(100% / 2);
	align-self: center;
}

.pic-item {
	width: 40%;
}

.text-item {
	width: 60%;
	align-self: center;	
}

.last-item {
	flex: 1;
	align-self: center;	
}

.call-to-action {
	background-color: #3A539B;
	width: 250px;
	padding: 5px 10px 10px 10px;
	position: fixed;
	right: 10px;
	bottom: 20px;
}

.call-to-action p{
	color: white;
	font-weight: bold;
}